* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-size: 3rem;
}

.darkButton {
    background-color: black;
    color: white;
    padding: 1.5rem 2rem;
    font-weight: bold;
    border-radius: 25px; 
    display: flex;
    justify-content: center;
}